@use 'Editor/_wickbrand.scss' as *;

$canvas-action-size: 35px;

.canvas-actions-widget {
  height: auto;//$canvas-action-size; // -H.A.
  display: flex;
  align-items: center;
  margin: 1px;
}
.canvas-actions-widget.vertical {
  height: unset;
}

.actions-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35px, 1fr));
  grid-gap: 5px;
  justify-items: center;
  align-items: center;
  width: auto;
  max-width: 140px;
}

// .actions-container.vertical {
//   flex-direction: column;
// }

.actions-container.vertical {
  flex-direction: row !important;
  flex-wrap: wrap;
}


.canvas-action-button {
  width: $canvas-action-size;
  height: $canvas-action-size;
  padding: 2px;
}
