# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
*/node_modules
/node_module.lnk

# testing
/coverage

# production
/dist
/public/corelibs/wick-engine/
/public/corelibs/ffmpeg/
/engine/dist/

# package-lock
package-lock.json*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
.vscode/settings.json
CLAUDE.md
AGENTS.md
/.claude/

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# docs
engine/docs/*
engine/dist/*
src-tauri/binaries/*
src-tauri/gen/*
*.keystore
