/*
 * Copyright 2020 WICKLETS LLC
 *
 * This file is part of Wick Editor.
 *
 * Wick Editor is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Wick Editor is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Wick Editor.  If not, see <https://www.gnu.org/licenses/>.
 */

@use 'Editor/_wickbrand.scss' as *;

.btn-color-picker {
  display: flex;
  flex-direction: column-reverse;
  background: none;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  border: 4px solid $editor-secondary-text;
  box-sizing: border-box;
  overflow: hidden;
  padding: 0;
}
.btn-color-picker-background-opaque {
  width: 100%;
  flex-basis: 50%;
}
.btn-color-picker-stroke {
  overflow: visible;
  background-origin: border-box, border-box;
  background-clip: border-box, border-box;
  border-color: transparent;
  mask: linear-gradient(#000 0 0) padding-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
}
.btn-color-picker-stroke .btn-color-picker-background-opaque {
  flex-basis: unset;
  height: 100%;
  // percent-based margin is calculated based on width of an element
  // therefore, pill-shaped buttons (e.g. in inspector) need a workaround
  margin: 0 -4px;
  transform: translateY(50%); // cover bottom half
}

.color-picker-control-div {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
