/* 
 * Copyright I don't know
 */

@import 'Editor/_wickbrand.scss';

$color-picker-width: 250px;
$color-picker-bar-height: 25px;
$color-picker-block-margin: 5px;

.wick-color-picker {
    background-color: $editor-primary;
    width: $color-picker-width;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: $color-picker-block-margin;
    padding: 10px;
    border-radius: 4px;
    font-family: 'Nunito Sans';
}

.wick-color-picker-action-button {
    width: 30px;
    margin-right: 4px;
}

.wick-color-picker-action-button.spacer {
    margin-right: auto;
}
.color-picker-control-div {
    margin-left: auto;
}

.wick-color-picker-header {
    height: $color-picker-bar-height;
    display: flex;
    align-items: stretch;
}

// Style color picker inputs like the inspector.
.wick-color-picker span {
    color: $editor-primary-property-text;
}